
.discount {
    color: #f3735f;
}

.cart {
 text-align: center;
}

:root {

    --items-count: 6;
  
    --width: 200px;
  
    --height: 300px;
  
    --duration: 10s;
  
  }
  
  
  
  .slider {
  
    width: 100%;
  
    height: var(--height);
  
    position: relative;
  
    overflow: hidden;
  
    mask-image: linear-gradient(to right, transparent, #fff 10% 90%, transparent);
  
  }
  
  
  .slider:hover .imgs {
  
    animation-play-state: paused !important;
  
    filter: grayscale(1);
  
  }
  
  
  .slider .imgs:hover {
  
    filter: grayscale(0);
  
  }
  
  
  .imgs {
  
    position: absolute;
  
    width: var(--width);
  
    height: var(--height);
  
    object-fit: cover;
  
    transition: filter 0.3s;
  
    left: calc(100% - var(--pos) * (100% / var(--items-count))); /* تصاویر را در ابتدا توزیع می‌کنیم */
  
    filter: grayscale(0);
  
    animation: autoRunSlider var(--duration) linear infinite;
  
    animation-delay: calc((var(--pos) - 1) * (var(--duration) / var(--items-count)) * -1); /* باعث می‌شود تصاویر از قبل در حال حرکت باشند */
  
  }
  
  
  @keyframes autoRunSlider {
  
    from {
  
      left: 100%;
  
    }
  
    to {
  
      left: calc(var(--width) * -1);
  
    }
  
  }